.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buy, .sell{
    padding:25px;
    width: 30em;
}
.buy img, .sell img{
    border-radius: 10%;
    box-shadow: 2px 2px 4px 2px black;

}


